Temp
Library
obj
build
TestProjects

startUnity.bat
RelationsInspector.unitypackage
RelationsInspectorDemo.unitypackage

Assets/ScriptableObjectSpawner*
Assets/UnityTestTools*
Assets/RelationsInspector/Editor/LayoutCaches/
Assets/RelationsInspector/Editor/RelationsInspector.dll*
Assets/RelationsInspector/Editor/RelationsInspector.pdb*
Assets/RelationsInspector/Editor/RelationsInspectorResources/DefaultSkin.asset*
Assets/RelationsInspector/Editor/RelationsInspectorResources/RIWindowLightSkin.asset
Assets/RelationsInspector/Editor/RelationsInspectorResources/RIWindowLightSkin.asset.meta
Assets/RelationsInspector/Editor/RelationsInspectorResources/RIWindowDarkSkin.asset
Assets/RelationsInspector/Editor/RelationsInspectorResources/RIWindowDarkSkin.asset.meta
Assets/RelationsInspector/Editor/RelationsInspectorResources/DefaultConfig.asset*

RIDLLProject/bin/
RIDLLProject/RelationsInspectorLib.csproj.user
RIDLLProject/RelationsInspectorLib.v11.suo

UnityVS.RelationsInspector.v11.suo
UnityVS.RelationsInspector.v12.suo
.vs/
*.unitypackage
Docs/layoutSavingTodo.txt
Assets/RelationsInspector/Editor/RelationsInspectorResources/Settings.asset
Assets/RelationsInspector/Editor/SourceRI.zip*
Assets/RelationsInspector/Editor/SourceCodeRI.zip
Assets/RelationsInspector/Editor/SourceCodeRI.zip.meta
